terraform {
  required_providers {
    yandex = {
      source = "yandex-cloud/yandex"
  }
}
  backend "s3" {
    endpoint   = "storage.yandexcloud.net"
    bucket     = "prod-terraform-state"
    key        = "prod/terraform.tfstate"
    region     = "us-east-1"
    access_key = "test"
    secret_key = "test"

    skip_region_validation      = true
    skip_credentials_validation = true
  }
}
