cloud_id                 = "b1"
folder_id                = "b1"
zone                     = "ru-central1-a"
image_id                 = "fd"
public_key_path          = "~/.ssh/appuser.pub"
private_key_path         = "~/.ssh/appuser"
subnet_id                = "e9"
token                    = "AQ"
service_account_key_file = "~/key.json"
instances                = 1
app_disk_image           = "fd"
db_disk_image            = "fd"
access_key               = "YCAJ"
secret_key               = "YCOj"
